SUPERSET_SECRET_KEY = apache superset key
PG_HOST = name the host for postgres
PG_USER = username for postgres
PG_PASSWORD = password for postgres
PG_DATABASE = name the database with the scraping data
PG_PORT = 5432

STORE1_STARTLINK = Link to page to start scraping from here
STORE2_STARTLINK = Structure of API URL here
